@import "layout/var";

.button {
  box-shadow: 0 8px 9px 0 rgba(11, 144, 217, 0.3);
  background-image: linear-gradient(to right, #5dc2d0, #1673d9);
  color: white;
  width: 100%;
  font-size: em(16);
  line-height: 1.5;
  display: block;
  height: em(40,16);
  border-radius: em(20,16);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1673d9;
    background: transparent;
    border: 1px solid rgba(22, 115, 217, 0.3);
  }
}