@import "layout/var";

.summary {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.03);
  padding: em(6) em(24) em(16);
  margin-bottom: em(76);

  &__title {
    font-size: em(30);
    padding: em(37,30) 0 em(20,30);
    border-top: 1px solid $body-color;
    font-family: $top-title-font;
  }

  &__list {
    margin: 0;
    padding: 0;

    &--full {
      margin-top: em(12);

      .summary__item {
        border-bottom: 0;
      }

      .summary__text {
        font-size: em(16);

        &--bold {
          font-size: em(22,16);
        }
      }
    }

    &--no_top {
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: em(16) 0;
    border-bottom: em(1) solid $body-color;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__icon {
    width: em(24);
    height: em(24);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__payment-icon {
    width: em(66);
    height: em(46);
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }

  &__description {
    padding-left: em(16);
    width: 100%;
  }

  &__edit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
    width: em(24);
    height: em(24);
    background: url('../img/edit.svg');
  }

  &__photos {
    height: em(424);
    margin-top: em(20);

    .card__image {
      height: em(424);
    }
  }

  &__payment-name {
    font-size: em(16);
    font-weight: $bold;
    display: block;
    width: 100%;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: em(24,16);
      height: em(24,16);
      background: url('../img/right-arrow.svg') no-repeat center;
    }
  }

  &__text {
    font-size: em(16);
    color: #8a8a8a;
    display: block;

    &--bold {
      font-weight: $bold;
      font-size: em(16,14);
      line-height: 1.43;
      color: $main-grey;
    }
  }

  &__bottom {
    padding: em(24) $side-padding em(24);
    border-bottom: em(1) solid $body-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: em(26);
  }

  &__price {
    font-size: em(32);
    font-family: $top-title-font;
    font-weight: $bold;
    line-height: 0.63;
    color: $main-grey;
    margin: em(14,43) 0 em(29,43);
  }

  &__button {
    width: em(136);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link-wrap {
    margin: em(26) 0 0;
    text-align: center;
  }

  &__link {
    color: $blue;
    font-size: em(14);
    text-decoration: underline;
  }

  &__block {
    padding: 0 0 em(24);

    &--no_top {
      padding: 0 $side-padding;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;

    .options__item {
      margin-left: 0;
      margin-top: em(4,12);
    }
  }

  &__included {
    padding: em(20,14) 0 em(20,14) 0;
    display: flex;
    align-items: center;

    &--bordered {
      border-bottom: 1px solid $body-color;
    }

    &--no_flex {
      display: block;
    }

    .options {
      padding-left: 0;
      margin-left: 0;
    }

    .options__item {
      margin-left: 0;
    }
  }

  &__included-title {
    font-size: em(16);
    line-height: em(24,16);
    color: #8a8a8a;
    flex-shrink: 0;
  }

  &__title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-link {
    color: $back-grey;
    text-decoration: underline;
    font-size: em(14,18);
    font-weight: $regular;
  }



  &__places {
    margin: em(6) $side-padding 0;
  }

  &__place {
    position: relative;
    font-size: em(14);
    font-weight: bold;
    line-height: 1.43;
    padding: em(9,14) em(28,14);
    border-bottom: 1px solid $body-color;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: em(9,14);
      width: em(20,14);
      height: em(20,14);
      background: url('../img/location.svg') no-repeat center;
    }

    &:last-child {
      border-bottom: 0;
    }
  }


  &__last {
    margin: em(52) $side-padding 0;
    overflow: hidden;
  }

  &__last-image {
    max-width: em(200);
    margin-left: em(-30);
  }

  &__last-title {
    color: $blue;
    font-size: em(18);
    font-weight: bold;
  }

  &__last-text {
    font-size: em(14);
    margin-top: em(16,14);
    font-weight: bold;
  }

  &__last-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: em(14);
      line-height: 1.43;
      padding-left: em(16,14);
      position: relative;
      margin-top: em(16,14);

      &:before {
        content: '';
        display: block;
        width: em(4,14);
        height: em(4,14);
        background: $main-grey;
        border-radius: 50%;
        left: 0;
        top: em(8,14);
        position: absolute;
      }
    }
  }





  &__new-bot-top {
    font-size: em(22);
    text-align: center;
    line-height: 1.27;
  }

  &__new-bot-price {
    font-size: em(54);
    color: #1673d9;
    margin-top: em(17,54);
    text-align: center;
    font-family: $top-title-font;
  }

  &__new-bot-note {
    font-size: em(12);
    color: $back-grey;
    text-align: center;
  }

  &__new-bot-button {
    margin: em(32,16) auto 0;
    width: em(180,16);
  }

  &__new-bot-policy {
    font-size: em(14);
    margin-top: em(21,14);
    color: $back-grey;
    text-align: center;

    a {
      color: $back-grey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }






  &__dots {
    top: auto;
    bottom: em(14);
    left: 50%;
    transform: translateX(-50%);

    li {
      border: 0;
      width: 12px;
      height: 12px;
      background: transparent;
      position: relative;
      margin-right: 2px;

      &.slick-active {
        background: white;

        button {
          background: black;
        }
      }

      button {
        background: white;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: em(8);
    left: 50%;
    font-size: em(16);
    width: em(24);
    height: em(24);
    color: transparent;
    background-size: cover;
    background-position: center;

    &.slick-prev {
      background-image: url('../img/left.svg');
      z-index: 300;
    }

    &.slick-next {
      background-image: url('../img/right.svg');
    }
  }


  &__map-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: em(24);
  }

  &__map-desc {
    padding-right: em(16);

    p {
      font-size: em(16);
      line-height: em(24,16);
      color: #8a8a8a;
    }
  }

  &__map-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: em(16) 0;
      font-size: em(16);
      line-height: em(24);
      font-weight: bold;
      border-bottom: 1px solid $body-color;
      display: flex;

      span {
        display: block;
        width: em(24,12);
        height: em(24,12);
        background: #1673d9;
        border-radius: 50%;
        margin-right: em(16,12);
        color: white;
        text-align: center;
        font-size: em(12);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__map {
    width: 60%;
    flex-shrink: 0;
    height: em(306);
  }



  &__stars {
    display: flex;
    margin-bottom: em(24);
  }

  .reviews__text {
    font-size: em(16);
  }

  .contain__flex {
    margin-bottom: em(24);
  }

  .contain__item {
    width: 21%;
  }

  .contain__list {
    margin-top: em(16);
  }

  .contain__list-item {
    font-size: em(14);
    line-height: em(20,14);
    padding-left: em(24,14);

    &:before {
      width: em(16,14);
      height: em(16,14);
      background: url('../img/check.svg') no-repeat center;
      background-size: cover;
      top: em(2,14);
    }
  }

  .advantages__flex {
    margin-top: 0;
  }

  .advantages__item {
    margin-bottom: em(32);
  }

  .advantages__name {
    margin-top: 0;
  }

  .advantages__text {
    font-size: em(14);
  }
}