@import "layout/var";

body {
    font-family: $main-font;
    font-size: 100%;
    color: $main-grey;
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    position: relative;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea {
    box-sizing: border-box;
}

button,input,textarea{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

footer {
    margin: 0;
    padding: 0;
}


.container {
    width: em(1216);
    flex-shrink: 0;
    margin: 0 auto;

    @media (max-width: 1279px) {
        width: calc(100% - #{em(32)});
    }
}


.questions {
    width: 100%;
    border-radius: em(8);
    border: solid 1px rgba(0, 0, 0, 0.03);
    padding: em(30) em(32) em(32);
    display: flex;
    flex-direction: column;

    &--index {
        background: white;
        width: em(383);
        margin: em(79) 0 em(132);
        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.05);
    }

    &__title {
        text-align: center;
        font-size: em(22);
        font-weight: bold;
    }

    &__button {
        font-size: em(16);
        color: #1673d9;
        font-weight: bold;
        border-radius: em(20);
        border: solid 1px rgba(22, 115, 217, 0.3);
        margin: em(28) auto 0;
        width: em(180);
        height: em(40);
        transition: 0.3s;

        &:hover {
            background: linear-gradient(to right, #5dc2d0, #1673d9);
            color: white;
            border: 0
        }
    }

    .reviews__person {
        margin-top: em(30);
    }

    .reviews__ava {
        width: em(72);
        height: em(72);
        flex-shrink: 0;
    }

    .reviews__name {
        font-size: em(16);
        color: $main-grey!important;
    }

    .reviews__text {
        font-size: em(16);
        color: #8a8a8a;
        line-height: em(24,16);
    }
}


.page {
    display: flex;

    &--summary {
        flex-direction: row-reverse;

        .page__left {
            margin: 0 0 0 em(32);
        }
    }

    &__left {
        width: 31%;
        flex-shrink: 0;
        margin-right: em(32);
        padding-bottom: em(32);
    }

    &__left-block {
        margin-bottom: em(32);
        border: solid 1px #f0f0f0;
        border-radius: em(8);
        padding: em(32);

        &--summary {
            padding: 0 em(19);
        }
    }

    &__left-block-title {
        text-align: center;
        font-size: em(22);
        font-weight: bold;
        line-height: em(32,22);
    }

    &__content {
        width: 66%;
    }
}

.included-list {
    margin: em(8) 0 0;
    padding: 0;
    list-style: none;

    li {
        color: #8a8a8a;
        font-size: em(16);
        line-height: em(24,16);
        padding-left: em(32,16);
        margin-top: em(16,16);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: em(24);
            height: em(24);
            background: url('../img/check.svg') no-repeat center;
        }
    }
}



.booking {
    width: em(383);
    margin: 0 auto em(50);

    &__protect {
        position: relative;
        font-size: em(16);
        padding-left: em(64);
        color: #dcdcdc;
        font-weight: bold;
        line-height: em(20);
        padding-top: em(5);

        &:before {
            content: '';
            width: em(48);
            height: em(48);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../img/security.svg') no-repeat center;
        }
    }

    &__git {
        flex-direction: column;
        margin: 0 0 em(32);

        .reviews__ava {
            width: em(72);
            height: em(72);
        }
        .reviews__description {
            margin: em(16) 0 0;
        }
        .reviews__name {
            text-align: center;
            font-size: em(22)!important;
            color: $main-grey!important;
            margin-bottom: em(16,22);
        }
        .reviews__text {
            font-size: em(16);
            color: #8a8a8a;
            line-height: em(24);
        }
    }
}

.text {
    font-size: em(16);
    line-height: em(24);
    color: #8a8a8a;
    padding-bottom: em(100);

    p {
        margin-bottom: em(16);
    }

    h3 {
        font-size: em(30);
        color: $main-grey;
        font-family: $top-title-font;
        margin: em(54,30) 0 em(24,30);
    }

    h5 {
        font-size: em(18);
        color: $main-grey;
        font-weight: bold;
        margin: em(32, 18) 0 em(8,18);
    }

    a {
        color: #1673d9;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: em(16);
            position: relative;
            padding-left: em(24);

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: em(10);
                display: block;
                width: em(4);
                height: em(4);
                border-radius: 50%;
                background: black;
            }
        }
    }
}